node_modules/
DEPLOYMENT_GUIDE.txt
logs/
*.log
npm-debug.log*
dist/
dist-ssr/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db